:root{
    --orange:#e2791e;
    --white:rgb(255,255,255);
    --black:rgb(0,0,0);
    --brown: #575757 
}
body{
    padding: 0;
    margin: 0;
}
/* #invisible:hover{
    color: yellow;
    
} */
.btn:hover{
    background-color: lightblue;
    color: black;
}
